version: "3.6"
services:
  db:
    image: postgres
    restart: unless-stopped
    container_name: postgres
    hostname: postgres
    volumes:
      - ./db/init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
      - ./db/sql:/sql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5433:5432